# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv
ENV/

# Streamlit secrets (Crucial to keep your API keys safe!)
.streamlit/secrets.toml

# IDE and Editor files (VS Code, PyCharm)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log
